{% extends 'base.html' %}
{% load static %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

<!-- SEO Tags - General -->
<meta charset="utf-8">
<meta name="og:title" property="og:title" content="Home">
<meta property="og:type" content="website" />
<meta name="og:description" content="Company Description">
<meta name="og:url" content="Website URL">
<meta name="og:image" content="Company Logo">
<meta name="og:image:alt" content="Company Name Logo">
<meta property="og:locale" content="en_GB" />
<meta property="og:site_name" content="Website Name" />

<!-- SEO Tags - Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="A. Murray's Construction Ltd">
<meta property="twitter:description" content="Company Description">
<meta name="twitter:image" content="Company Logo">
<meta name="twitter:site" content="Website URL">

{% endblock %}

{% block content %}
<!-- Main Container -->
<div class="container p-4 main-container">

    <!-- Introduction -->
    <div class="row justify-content-center">
        <div class="col-3 col-lg-2 align-self-center">
            <img class="img-fluid" src="{% static '/images/logo.png' %}" alt="A. Murray's Construction Ltd Logo">
        </div>
        <div class="col-12 col-lg-7 text-center">
            <div class="row">
                <p class="index-heading">A. Murray's Construction Ltd</p>
                <p class="index-description">
                    Company Description
                </p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <h1 class="quotation-card-heading">Free Quotation</h1>
                            <hr>
                            <p>Call or text for your free quotation: <b>07496 847388</b></p>
                            <p class="whatsapp-button">We are also on WhatsApp:
                                <a href="https://wa.me/447496847388/" aria-label="Chat on WhatsApp button" >
                                    <img src="{% static '/images/whatsapp_chat_button.png' %}" alt="Chat on WhatsApp button">
                                </a> 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <h6 class="social-media-card-heading">Follow us on social media to see our latest work!</h6>
                            <hr>
                            <a class="nav-link social-media-icon" href="https://www.facebook.com/profile.php?id=61564366067600">
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16" aria-label="Facebook Logo">
                                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                                </svg>  
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 xl-hide align-self-center">
            <img class="img-fluid" src="{% static '/images/logo.png' %}" alt="A. Murray's Construction Ltd Logo">
        </div>
    </div>

    <hr>

    <!-- Products -->
    <div class="row justify-content-center text-center">
        <p class="index-subheading">Products</p>
        <p class="index-description">
            Select a product to find out more information and view some of our previous work.
        </p>
        <div class="col-xl-2 col-md-6 col-12">
            <div class="card-group h-100">
                <div class="card">
                    <a href="{% url 'plastering' %}"><img src="{% static '/images/plastering/thumbnail.jpg' %}" class="img-fluid" alt="Plastering Thumbnail"></a>
                    <div class="card-body text-center vertical-align-centre">
                        <h3><a href="{% url 'plastering' %}" class="card-link">Plastering</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-6 col-12">
            <div class="card-group h-100">
                <div class="card">
                    <a href="{% url 'building-works' %}"><img src="{% static '/images/building-works/thumbnail.jpg' %}" class="img-fluid" alt="Building Works Thumbnail"></a>
                    <div class="card-body text-center vertical-align-centre">
                        <h3><a href="{% url 'building-works' %}" class="card-link">Building Works</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-6 col-12">
            <div class="card-group h-100">
                <div class="card">
                    <a href="{% url 'media-walls' %}"><img src="{% static '/images/media-walls/thumbnail.jpg' %}" class="img-fluid" alt="Media Walls Thumbnail"></a>
                    <div class="card-body text-center vertical-align-centre">
                        <h3><a href="{% url 'media-walls' %}" class="card-link">Media Walls</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-6 col-12">
            <div class="card-group h-100">
                <div class="card">
                    <a href="{% url 'landscaping-and-fencing' %}"><img src="{% static '/images/landscaping-and-fencing/thumbnail.jpg' %}" class="img-fluid" alt="Tab 4 Thumbnail"></a>
                    <div class="card-body text-center vertical-align-centre">
                        <h3><a href="{% url 'landscaping-and-fencing' %}" class="card-link">Landscaping and Fencing</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-6 col-12">
            <div class="card-group h-100">
                <div class="card">
                    <a href="{% url 'extensions-and-renovations' %}"><img src="{% static '/images/extensions-and-renovations/thumbnail.jpg' %}" class="img-fluid" alt="Tab 5 Thumbnail"></a>
                    <div class="card-body text-center vertical-align-centre">
                        <h3><a href="{% url 'extensions-and-renovations' %}" class="card-link">Extensions and Renovations</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Reviews -->
    <div class="row justify-content-center text-center">
        <p class="index-subheading">Reviews</p>
        <p class="index-description">
            See what some of our previous customers have said about our work!
        </p>
        <div id="reviewsCarousel" class="carousel slide" data-bs-ride="carousel">
            <a class="carousel-control-prev bg-transparent w-aut" href="#reviewsCarousel" role="button" data-bs-slide="prev" aria-label="Previous review">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <div class="carousel-inner" role="listbox" aria-label="Review Carousel">
                <div class="carousel-item active" data-interval="10000">
                    <div class="col-sm-4 col-12 p-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h1 class="carousel-rating">★★★★★</h1>
                                <br>
                                <p>
                                    "Review"
                                </p>
                                <br>
                                <p><b>Name - Year</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval="10000">
                    <div class="col-sm-4 col-12 p-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h1 class="carousel-rating">★★★★★</h1>
                                <br>
                                <p>
                                    "Review"
                                </p>
                                <br>
                                <p><b>Name - Year</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval="10000">
                    <div class="col-sm-4 col-12 p-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h1 class="carousel-rating">★★★★★</h1>
                                <br>
                                <p>
                                    "Review"
                                </p>
                                <br>
                                <p><b>Name - Year</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval="10000">
                    <div class="col-sm-4 col-12 p-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h1 class="carousel-rating">★★★★★</h1>
                                <br>
                                <p>
                                    "Review"
                                </p>
                                <br>
                                <p><b>Name - Year</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval="10000">
                    <div class="col-sm-4 col-12 p-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h1 class="carousel-rating">★★★★★</h1>
                                <br>
                                <p>
                                    "Review"
                                </p>
                                <br>
                                <p><b>Name - Year</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-interval="10000">
                    <div class="col-sm-4 col-12 p-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h1 class="carousel-rating">★★★★★</h1>
                                <br>
                                <p>
                                    "Review"
                                </p>
                                <br>
                                <p><b>Name - Year</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-next bg-transparent w-aut" href="#reviewsCarousel" role="button" data-bs-slide="next" aria-label="Next review">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>

</div>

<script>
    // Script used for review carousel
    let items = document.querySelectorAll('.carousel-item')

    items.forEach((currentItem) => {
        const minPerSlide = 3
        let nextItem = currentItem.nextElementSibling
        for (var i = 1; i < minPerSlide; i++) {
            if (!nextItem) { nextItem = items[0] }
            let cloneItem = nextItem.cloneNode(true)
            currentItem.appendChild(cloneItem.children[0])
            nextItem = nextItem.nextElementSibling
        }
    })
</script>
{% endblock %}