{% extends 'base.html' %}
{% load static %}

{% block title %}Media Walls{% endblock %}

{% block head %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/product_pages.css' %}">

<!-- SEO Tags - General -->
<meta charset="utf-8">
<meta name="og:title" property="og:title" content="Media Walls">
<meta property="og:type" content="website">
<meta name="og:description" content="We design and build custom media walls that seamlessly integrate TVs, fireplaces, and storage.">
<meta name="og:url" content="https://www.murraysconstruction.co.uk/media-walls">
<meta name="og:image" content="https://www.murraysconstruction.co.uk/static/images/media-walls/thumbnail.png">
<meta name="og:image:alt" content="Media Walls Thumbnail">
<meta property="og:locale" content="en_GB">
<meta property="og:site_name" content="A. Murray's Construction Ltd">

<!-- SEO Tags - Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="Media Walls">
<meta property="twitter:description" content="We design and build custom media walls that seamlessly integrate TVs, fireplaces, and storage.n">
<meta name="twitter:image" content="https://www.murraysconstruction.co.uk/static/images/media-walls/thumbnail.png">
<meta name="twitter:site" content="https://www.murraysconstruction.co.uk">

{% endblock %}

{% block content %}
<!-- Main Container -->
<div class="container p-4 main-container">

    <!-- Introduction -->
    <div class="row justify-content-center">
        <div class="col-6 col-lg-2 align-self-center">
            <img class="img-fluid" src="{% static '/images/logo.png' %}" alt="A. Murray's Construction Ltd Logo">
        </div>
        <div class="col-12 col-lg-7 text-center">
            <div class="row">
                <p class="page-heading">Media Walls</p>
                <p class="page-description">
                    We design and build custom media walls that seamlessly integrate TVs, fireplaces, and storage. Our team delivers quality craftsmanship 
                    and a tailored finish that fits your space perfectly.
                </p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <h1 class="quotation-card-heading">Free Quotation</h1>
                            <hr>
                            <p>Call or text for your free quotation: <b>07496 847388</b></p>
                            <p>Contact us using email: <b><a href="mailto:murraysconstrution24@gmail.com">murraysconstrution24@gmail.com</a></b></p>
                            <p class="whatsapp-button">We are also on WhatsApp:
                                <a href="https://wa.me/447496847388/" aria-label="Chat on WhatsApp button" >
                                    <img src="{% static '/images/whatsapp_chat_button.png' %}" alt="Chat on WhatsApp button">
                                </a> 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 md-hide">
                    <div class="card">
                        <div class="card-body text-center">
                            <h6 class="social-media-card-heading">Follow us on social media to see our latest work!</h6>
                            <hr>
                            <a class="nav-link social-media-icon" href="https://www.facebook.com/profile.php?id=61564366067600">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16" aria-label="Facebook Logo">
                                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                                </svg>  
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 lg-hide align-self-center">
            <img class="img-fluid" src="{% static '/images/logo.png' %}" alt="A. Murray's Construction Ltd Logo">
        </div>
    </div>

    <hr>

    <!-- Portofolio -->
    <div class="row justify-content-center text-center">
        <div class="col">
            <div class="row">
                <p class="page-subheading">Portfolio</p>
                <p class="page-description">
                    Check out some of our previous work! If you would like to see more, then head over to our social media which is regularly updated with our latest work.
                </p>
            </div>
            <div class="row px-xl-5">
                <div class="col-xl-3 mt-xl-0 col-md-6 col-12">
                    <img src="{% static '/images/media-walls/example-1.png' %}" class="img-fluid" alt="Example of a media call built by A. Murray's Construction Ltd.">
                </div>
                <div class="col-xl-3 col-md-6 mt-md-0 col-12 mt-4">
                    <img src="{% static '/images/media-walls/example-2.png' %}" class="img-fluid" alt="Example of a media call built by A. Murray's Construction Ltd.">
                </div>
                <div class="col-xl-3 mt-xl-0 col-md-6 col-12 mt-4">
                    <img src="{% static '/images/media-walls/example-3.png' %}" class="img-fluid" alt="Example of a media call built by A. Murray's Construction Ltd.">
                </div>
                <div class="col-xl-3 mt-xl-0 col-md-6 col-12 mt-4">
                    <img src="{% static '/images/media-walls/example-4.png' %}" class="img-fluid" alt="Example of a media call built by A. Murray's Construction Ltd.">
                </div>
                <div class="col-xl-3 col-md-6 col-12 mt-4">
                    <img src="{% static '/images/media-walls/example-5.png' %}" class="img-fluid" alt="Example of a media call built by A. Murray's Construction Ltd.">
                </div>
                <div class="col-xl-3 col-md-6 col-12 mt-4">
                    <img src="{% static '/images/media-walls/example-6.png' %}" class="img-fluid" alt="Example of a media call built by A. Murray's Construction Ltd.">
                </div>
                <div class="col-xl-3 col-md-6 col-12 mt-4">
                    <img src="{% static '/images/media-walls/example-7.png' %}" class="img-fluid" alt="Example of a media call built by A. Murray's Construction Ltd.">
                </div>
                <div class="col-xl-3 col-md-6 col-12 mt-4">
                    <img src="{% static '/images/media-walls/example-8.png' %}" class="img-fluid" alt="Example of a media call built by A. Murray's Construction Ltd.">
                </div>
            </div>
        </div>
    </div>

    <hr class="md-show">

    <!-- Social Media - Only shown on mobile -->
    <div class="row justify-content-center text-center md-show">
        <div class="col-sm-3 col-md-6 col-lg-3 col-12">
            <div class="card">
                <div class="card-body text-center">
                    <h6 class="social-media-card-heading">Follow us on social media to see our latest work!</h6>
                    <hr>
                    <a class="nav-link social-media-icon" href="https://www.facebook.com/profile.php?id=61564366067600">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16" aria-label="Facebook Logo">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                        </svg>  
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
