.main-container {
    font-family: Open Sans, Arial, sans-serif;
    max-width: 100%;
    background-color: #212529;
    color: white;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.page-heading {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.page-description {
    color: #bdbdbd;
}

.page-subheading {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card {
    background-color: #15171a;
    border-radius: 0;
    margin-bottom: 0.75rem !important;
}

.quotation-card-heading {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2rem;
    color: #ee2737;
}

.whatsapp-button {
    line-height: 2rem;
    margin-bottom: 0px;
}

.social-media-card-heading {
    font-weight: bolder;
    font-size: 1.4rem;
}

/* Media */
@media (max-width: 1200px) {
    .xl-hide {
        display: none;
    }
}

@media (min-width: 768px) {
    .md-show {
        display: none;
    }
}

@media (max-width: 768px) {
    .md-hide {
        display: none;
    }
}
